apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uptime-kuma-data
  namespace: apps
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-zfs
  resources:
    requests:
      storage: 5Gi
