apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: n8n-data
  namespace: apps
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-zfs
  resources:
    requests:
      storage: 10Gi
